@media screen and (max-width: 500px) {
  body {
    margin: 0;
    padding: 0;
    max-width: 100vw;
  }
  * {
    font-family: Roboto, sans-serif;
    margin: 0;
    padding: 0;
    max-width: 100vw;
  }

  iframe {
    max-width: 100vw;
  }
  nav {
    display: none;
  }
  header {
    display: grid;
  }
  header h1 {
    display: ruby-text;
    margin: 4px 7px 0px;
    font-size: 16px;
    color: black;
  }
  header p {
    margin: 3px 7px;
    font-size: 11px;
    color: #938989;
  }
  .canal {
    display: flex;
    justify-content: left;
    align-items: center;
    padding: 7px;
  }
  .canal img {
    width: 34px;
    border-style: none;
    margin-right: 7px;
  }
  .canal h3 {
    font-size: 19px;
  }
  .canal p {
    position: absolute;
    font-size: 10px;
    color: #655a5a;
    margin: 29px 40px 0px 41px;
  }
  /* figcaption h2{ 
    display: flex;
    margin-right: 248px;
    font-size: 14px;
    font-weight: 500;
    color: #140303;
   }
  figcaption p{ 
    display: none;
  }*/
  .canal button {
    margin-left: auto;
    background-color: black;
    border: none;
    border-radius: 26px;
    width: 85px;
    height: 23px;
    color: aliceblue;
    font-size: 11px;
    font-weight: 900;
  }
  .acoes {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 7px;
  }
  .legal {
    display: flex;
    align-items: center;
    background-color: rgb(215 209 209);
    border-radius: 20px;
  }
  .legal h3 {
    display: none;
  }
  .legal img {
    width: 16px;
    padding: 4px 9px;
  }
  .legal p {
    border-right-style: groove;
    padding: 0px 2px;
    font-size: 14px;
    font-weight: 600;
    color: #6b6161;
  }
  /*.nao-legal img{ 
  margin-right: 0;
  background-color: red;
}
.nao-legal h3{ 
display: none;
}*/
  .compartilhar {
    display: flex;
    align-items: center;
    background-color: rgb(215 209 209);
    border-radius: 20px;
  }
  .compartilhar img {
    width: 16px;
    padding: 4px 3px;
  }
  .compartilhar h3 {
    padding: 0px 2px;
    font-size: 14px;
    font-weight: 600;
    color: #6b6161;
  }
  .download {
    display: flex;
    align-items: center;
    background-color: rgb(215 209 209);
    border-radius: 20px;
  }

  .download img {
    width: 16px;
    padding: 4px 3px;
  }
  .download h3 {
    padding: 0px 4px;
    font-size: 14px;
    color: #6b6161;
  }
  .comente {
    margin: 8px auto;
    width: 96vw;
    height: 14vh;
    background-color: #dbd5d5;
    border-radius: 10px;
  }
  /*.comentarios{ 
  display: flex;
  justify-content: center;
  align-items: center;
  color: #6b6161;
}*/
  .comentarios h2 {
    display: inline-block;
    padding: 10px 9px;
    color: #b7aaaa;
    font-size: 13px;
    font-weight: 100;
  }
  .comentarios h2 b {
    font-size: 15px;
    font-weight: 600;
    color: black;
  }
  .comentarios input {
    display: flex;
    margin: 2px 0px 2px 41px;
    padding: 6px 0px 6px 11px;
    width: 80vw;
    font-size: 13px;
    border-radius: 20px;
    border: none;
    background-color: #f5eeee;
  }
  .comentarios button {
    margin: 4px 9px;
    width: 61px;
    height: 20px;
    font-size: 11px;
    border-radius: 5px;
  }
  .descricao {
    display: none;
  }
  aside {
    display: none;
  }

  figure {
    margin-top: 30px;
    display: flex;
    justify-content: center;
  }
  .log {
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 2px 10px;
    font-size: 12px;
  }
  .log img {
    border-radius: 88px;
    width: 52px;
  }

  figure p {
    display: flex;
    justify-content: center;
    margin-bottom: 30px;
    font-size: 14px;
  }
}

/* tamanho normal     */
@media screen and (min-width: 501px) and (max-width: 900px) {
  body {
    margin: 0;
    padding: 0;
    max-width: 100vw;
  }
  * {
    font-family: Roboto, sans-serif;
    margin: 0;
    padding: 0;
    max-width: 100vw;
  }

  /*header nav ul {
  display: flex;
  justify-content: space-between;
  align-items: center;
  list-style: none;
  margin: 0;
  padding: 0;
}*/

  ul {
    display: flex;
    justify-content: space-between;
    align-items: center;
    list-style: none;
  }

  li {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 15px;
    padding: 5px 20px;
  }
  #ft-redonda {
    width: 28px;
    height: 28px;
    border-radius: 50%;
  }
  .pesquisa {
    background: url("./img/lupa.png") no-repeat right center;
    background-size: 23px;
    padding: 0px 27px 0px 9px;
    height: 35px;
    border: 1px solid #ccc;
    border-radius: 8px;
  }
  article iframe {
    width: 100vw;
    border-radius: 10px;
  }
  article header h1 {
    margin: 12px 0px 0px 27px;
    font-size: 26px;
  }

  article header p {
    margin: 0px 0px 10px 25px;
    color: #877d7d;
    font-size: 14px;
  }

  .video-infos {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    gap: 10px;
  }
  .canal {
    display: flex;
    /*justify-content: center;*/
    align-items: center;
    margin: 3px 7px 2px 5px;
  }
  .canal img {
    border-radius: 88px;
    width: 52px;
    margin: 0px 3px 0px 11px;
  }
  .canal h3 {
    display: flex;
    font-size: 31px;
  }
  .canal p {
    position: absolute;
    margin: 57px 0px 15px 68px;
    font-size: 13px;
    color: #877d7d;
  }

  .canal button {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-left: 13px;
    background-color: black;
    border: none;
    border-radius: 26px;
    width: 86px;
    height: 33px;
    color: aliceblue;
    font-size: 12px;
    font-weight: 900;
    cursor: pointer;
  }

  .acoes {
    display: flex;
    justify-content: center;
    align-items: center;
    margin: auto;
    gap: 77px;
  }
  .acoes img {
    width: 20px;
    margin: 2px 4px;
    cursor: pointer;
  }
  .acoes h3 {
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 15px;
    color: #3d3636;
  }
  .legal {
    display: flex;
    align-items: center;
    background-color: #f5f5f5;
    padding: 5px 11px;
    border-radius: 24px;
    gap: 9px;
  }
  .legal h5 {
    font-size: 20px;
  }
  .legal h3 {
    display: none;
  }
  .legal p {
    display: none;
  }

  .compartilhar {
    display: flex;
    background-color: #f5f5f5;
    padding: 5px 11px;
    border-radius: 24px;
    cursor: pointer;
  }
  .download {
    display: flex;
    background-color: #f5f5f5;
    padding: 5px 11px;
    border-radius: 24px;
    cursor: pointer;
  }
  .descricao {
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #f5f5f5;
    width: 90vw;
    height: 296px;
    margin: 10px auto;
    padding: 0px 10px;
    border-radius: 12px;
    font-size: 15px;
  }
  .descricao p {
    margin-bottom: 46px;
  }
  .meus-btn {
    display: flex;
    position: absolute;
    margin: 228px 1px 13px 1px;
    gap: 34px;
  }
  .meu-btn {
    display: flex;
    align-items: center;
    padding: 6px 25px;
    background-color: #007bff;
    border: none;
    border-radius: 27px;
    cursor: pointer;
  }
  .img1 {
    width: 30px;
    height: 30px;
    margin-right: 10px;
    border-radius: 30px;
  }
  .meu-link {
    color: white;
    text-decoration: none;
    font-size: 16px;
  }
  .meu-btn1 {
    display: flex;
    align-items: center;
    padding: 6px 30px;
    background-color: #007bff;
    border: none;
    border-radius: 27px;
    cursor: pointer;
  }
  .img2 {
    width: 30px;
    height: 30px;
    margin-right: 10px;
    border-radius: 30px;
  }
  .meu-link1 {
    color: white;
    text-decoration: none;
    font-size: 16px;
  }
  .sugestoes-videos {
    display: none;
  }
  .comente {
    display: flex;
    padding: 20px 25px;
  }
  .comentarios h2 {
    font-size: 25px;
  }
  .comentarios input {
    margin: 7px 12px;
    width: 65vw;
    padding: 5px 8px;
    border-radius: 10px;
  }
  .comentarios button {
    padding: 5px 10px;
    font-size: 18px;
    border-radius: 10px;
    border: none;
    background-color: black;
    color: white;
    cursor: pointer;
  }
  h4 {
    margin: 0px 38px 33px;
  }
  .video-opcional {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    margin: auto;
  }
  .video-opcional iframe {
    width: 90vw;
    border-radius: 10px;
  }
  .log img {
    display: none;
  }
  .log h2 {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 80vw;
    font-size: 20px;
    margin: auto;
    cursor: pointer;
  }
  .video-opcional p {
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 15px;
    margin-bottom: 20px;
  }
}

@media screen and (min-width: 901px) and (max-width: 1500px) {
  body {
    font-family: system-ui, -apple-system, BlinkMacSystemFont, "Segoe UI",
      Roboto, Oxygen, Ubuntu, Cantarell, "Open Sans", "Helvetica Neue",
      sans-serif;
    margin: 0;
    padding: 0;
  }
  ul {
    display: flex;
    justify-content: space-between;
    align-items: center;
    list-style: none;
  }

  li {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 15px;
    padding: 5px 20px 0px 0px;
  }
  #ft-redonda {
    width: 28px;
    height: 28px;
    border-radius: 50%;
  }
  .pesquisa {
    background: url("./img/lupa.png") no-repeat right center;
    background-size: 23px;
    padding: 0px 27px 0px 9px;
    width: 300px;
    height: 35px;
    border: 1px solid #ccc;
    border-radius: 8px;
  }
  article iframe {
    width: 69vw;
    height: 70vh;
    margin: 3px 0px 0px 25px;
    border-radius: 12px;
  }
  header h1 {
    width: 59vw;
    font-size: 31px;
    margin: 10px 29px;
  }
  header p {
    display: inline;
    margin: 0px 29px;
    font-size: 16px;
  }
  .video-infos {
    display: flex;
    margin: 0px 0px 0px 17px;
  }
  .canal {
    display: flex;
    align-items: center;
    width: 32vw;
  }
  .canal img {
    width: 57px;
    padding: 17px 2px 0px;
  }
  .canal h3 {
    margin: 1px 14px 0px 0px;
    font-size: 20px;
  }
  .canal p {
    position: absolute;
    margin: 56px 55px 15px;
    font-size: 14px;
  }
  .canal button {
    display: none;
    /*padding: 6px 8px;
    margin: 6px 10px 0px 0px;
    font-size: 16px;
    font-weight: 500;
    border-radius: 17px;
    border: none;*/
  }
  .acoes {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 39vw;
    gap: 10px;
  }
  .acoes img {
    width: 20px;
    cursor: pointer;
  }
  .acoes h3 {
    font-size: 14px;
  }
  .legal {
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #f1f1f1;
    width: 97px;
    height: 35px;
    border-radius: 18px;
    gap: 10px;
  }
  .legal h5 {
    font-size: 16px;
  }
  .legal h3 {
    display: none;
  }
  .legal p {
    display: none;
  }
  .compartilhar {
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #f1f1f1;
    width: 122px;
    height: 35px;
    border-radius: 27px;
    cursor: pointer;
  }
  .download {
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #f1f1f1;
    width: 106px;
    height: 35px;
    border-radius: 27px;
    cursor: pointer;
  }

  .descricao {
    margin: 21px 21px;
    padding: 1px 9px;
    background-color: #f1f1f1;
    width: 66vw;
    border-radius: 10px;
  }
  .descricao img {
    border-radius: 10px;
    width: 20px;
  }
  .meus-btn {
    display: flex;
    justify-content: center;
    margin-bottom: 10px;
    gap: 21px;
  }
  .meus-btn a {
    color: #f5f5f5;
    text-decoration: none;
  }
  .meu-btn {
    display: flex;
    align-items: center;
    padding: 8px 19px;
    background-color: #007bff;
    border: none;
    border-radius: 27px;
    cursor: pointer;
    gap: 8px;
  }
  .meu-btn1 {
    display: flex;
    align-items: center;
    padding: 8px 19px;
    background-color: #007bff;
    border: none;
    border-radius: 27px;
    cursor: pointer;
    gap: 8px;
  }
  .comente {
    display: flex;
    padding: 20px 25px;
  }
  .comentarios h2 {
    font-size: 25px;
  }
  .comentarios input {
    margin: 7px 12px;
    width: 65vw;
    padding: 5px 8px;
    border-radius: 10px;
  }
  .comentarios button {
    padding: 5px 10px;
    font-size: 18px;
    border-radius: 10px;
    border: none;
    background-color: black;
    color: white;
    cursor: pointer;
  }
  .sugestoes-videos {
    display: flex;
    justify-content: end;
  }
  .sugestoes-videos img {
    position: absolute;
    top: 0;
    padding: 75px 2px 16px 3px;
    height: 158vh;
    width: 26vw;
  }
  h4 {
    margin: 0 38px 33px;
  }
  figure {
    display: none;
  }
}
